@font-face {
    font-family: 'Lobster';
    src: url('Fonts/Lobster-Regular.ttf');
}

* {
    margin: 100;
    padding: 100;
    justify-content: space-between;
}

body {

    /* height: 100vh; */
    background-color: black;
    color: lightgrey;
}

.titulo-destaque {
    font-family: 'Lobster', sans-serif;
    color: #FFC000;
}

.apresentacao {
    margin: 10%;
    display: flex;
    align-items: center;
    /* justify-content: center-between; */
}

.apresentacao__conteudo {
    width: 600px;

}

.apresentacao__conteudo__titulo {
    font-size: 48px;

}

.links__botoes {
    display: flex;
    text-align: left;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;

}

.links__botoes__botao {
    border: 2px dashed #FFC000;
    color: #FFC000;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    width: 200px;
    border-radius: 16px;
    font-size: 24px;
    padding: 21px;


}

.cabecalho {
    color: #FFC000;
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    position: relative;
    bottom: -100px;
    margin-left: 130px;

}

/* .subpagina{
    color: black;
    font-weight: 900;
    background-color: #FFC000;
    font-size:28px;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: -800px;
    width: 1300px;

} */

.links__botoes__botao:hover {
    background-color: #272727;

}

.rodape {
    /* display: flex; */
    /* justify-content: center; */
    padding: 18px;
    text-align: center;
    width: 100%;
    color: #000000;
    font-weight: 700;
    font-size: 20px ;
    background-color: #FFC000;
    /* height: 50px;
    line-height: 50px; */
    
}